.item-card {
    width: 230px;
    height :300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin:5px 5px 5px 20px;
}

.item-card img {
    width: 90%;
    height:40%;
    border-radius: 4px;
}

.item-card h3 {
    font-size: 15px;
    margin: .3rem;
}

.item-card p {
    font-size: 14px;
    margin: 10px 0;
}

.item-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}