.nav-bar{
    display: flex;
    flex-direction: row;
    width:85%;
    height:10%;
}
.navbar-brand{
    margin: 1.8rem 1.5rem 1.5rem 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.navbar-search{
    margin-left: 50rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
 
}

.search-input{
    border: 1px solid grey;
    width: 400px;
    /* border-radius: 15px; */
    height:35px;
}

::placeholder{
    padding: 0rem 0rem 0rem 1rem;
}